In [1]:
import pandas as pd
import pickle
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
voyages = pd.read_csv("voyages.csv")
voyages.head()

,vessel,begin_date,end_date,begin_port_id,end_port_id
0,1,2019-01-01 02:47:00,2019-01-16 22:59:00,138.0,102.0
1,1,2019-01-16 22:59:00,2019-02-13 16:43:00,102.0,138.0
2,1,2019-02-13 16:43:00,2019-03-01 10:51:00,138.0,33.0
3,1,2019-03-01 10:51:00,2019-03-16 06:53:00,33.0,138.0
4,1,2019-03-16 06:53:00,2019-08-12 23:43:51,138.0,72.0

In [3]:
predict = pd.DataFrame(columns=['vessel', 'begin_port_id', 'end_port_id','voyage'])

In [4]:

input = voyages[['vessel','begin_port_id']]
output = voyages['end_port_id'].values
model = RandomForestClassifier()
model.fit(input,output)
pickle.dump(model, open('model/RF_vessel_predict.pickle', 'wb'))
for i in list(voyages['vessel'].unique()):
    vessel = voyages[voyages.vessel == i]
    output = vessel['end_port_id'].values
    last_port = [[i,output[-1]]]
    for j in [1,2,3]:
        predict_port = model.predict(last_port)
        begin_port_id = last_port[0][1]
        end_port_id = predict_port[0]
        predict = predict.append({'vessel': i, 'begin_port_id': begin_port_id, 'end_port_id': end_port_id, 'voyage': j}, ignore_index=True)
        last_port = [[i,predict_port[-1]]]

In [5]:
predict

     vessel  begin_port_id  end_port_id  voyage
0       1.0           95.0        138.0     1.0
1       1.0          138.0         95.0     2.0
2       1.0           95.0        138.0     3.0
3       2.0           55.0         11.0     1.0
4       2.0           11.0        138.0     2.0
..      ...            ...          ...     ...
505   175.0           27.0         64.0     2.0
506   175.0           64.0         27.0     3.0
507   176.0           64.0        117.0     1.0
508   176.0          117.0         64.0     2.0
509   176.0           64.0        117.0     3.0

[510 rows x 4 columns]

In [6]:
predict.to_csv('predict.csv', index=False)